h1{
    color: yellow;
    font-family: 'Trebuchet MS';
}
a {
    text-decoration: none;
}
a:link {color: red;}
a:visited {color: grey }
a:hover {color: pink; text-decoration: underline;}
a:active {color: green;}
